@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Barlow:300italic,600italic,300,400,500,600');

@font-face {
    font-family: Blackpast;
    src: url(font/Blackpast.ttf);
}

body {
    text-align: center;
    /* background-color: #f9f9f9; */
    background-color: #101010;
}

* {
    font-family: 'Barlow', 'Source Sans Pro', Trebuchet, Verdana, Helvetica, Arial, sans-serif;
}

a {
    color: rgba(10, 115, 242, 0.95);
    transition: color 0.1s ease;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: rgba(10, 115, 242, 0.75);
    text-decoration: none;
    cursor: pointer;
}

span.stretch {
    display: inline-block;
    -webkit-transform: scale(1, 1.08);
    -moz-transform: scale(1, 1.08);
    -ms-transform: scale(1, 1.08);
    -o-transform: scale(1, 1.08);
    transform: scale(1, 1.08);
}

input.playlist-input {
    padding: 10px 20px;
    font-size: 25px;
    display: block;
    margin: 20px auto;
    max-width: 600px;
    width: 85%;
    background-color: #222;
    border-radius: 3px;
    border: 1.5px solid #444;
    color: white;
    outline: none;
}

input.genre-input {
    padding: 10px 20px;
    font-size: 25px;
    display: block;
    margin: 20px auto;
    max-width: 600px;
    width: 85%;
    background-color: #222;
    border-radius: 3px;
    border: 1.5px solid #444;
    color: white;
    outline: none;
}

div.bootbox.modal {
    text-align: left;
}

.bootbox-confirm div div div button.btn-primary {
    background-color: #555 !important;
}

.bootbox-confirm div div div button.btn-primary:hover {
    background-color: #444 !important;
}

.bootbox-confirm div div div button.btn-primary:active {
    background-color: #888 !important;
}

a.link-white {
    color: #d8d8d8;
}

a.link-white:hover {
    color: #fff;
}

a.link-white:active {
    color: #fff;
}