<!DOCTYPE html>
<html lang="en">

<head>
    <title>audiU</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.9" />
    <link rel="icon" href="img/waveform_w.png" />
    <script type="text/javascript" src="lib/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="lib/material.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/bootbox-5.5.2.min.js"></script>
    <script type="text/javascript" src="lib/particles.min.js"></script>
    <script type="text/javascript" src="lib/block.js"></script>
    <script type="text/javascript" src="lib/util.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" href="lib/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/material.min.css" />
    <link rel="stylesheet" href="rotation.css" />
    <link rel="stylesheet" href="style.css" />
    <script type="text/javascript">
        app.main.config.dataset.config = util.json_decode("{{ config }}");
        app.main.config.dataset.models = util.json_decode("{{ models }}");
        app.main.config.dataset.genres = util.json_decode("{{ genres }}");
    </script>
</head>

<body>
    <!-- audiu -->
    <div id="loading" style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: table;
                text-align: center;
                opacity: 1;
                transition: opacity 0.1s ease;
            ">
        <div style="
                    display: table-cell;
                    vertical-align: middle;
                    margin: 0 auto;
                ">
            <img src="img/loading_ellipsis_fast.svg" id="loadingimg" style="
                        width: 45%;
                        max-width: 75px;
                        opacity: 0.8;
                        transition: opacity 0.5s ease;
                    " />
            <!-- <img src="img/waveform_w.png" id="loadingimg" class="rotating1" style="
                                    width: 25%;
                                    max-width: 50px;
                                    opacity: 1;
                                    transition: opacity 0.5s ease;
                                " /> -->
        </div>
    </div>
</body>

</html>